#contato {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;
}

.img-contato {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-contato > img {
    width: 100%;
    height: 350px;
}

.formulario-contato {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    color: var(--cor-primaria);
}

form {
    background: rgba(255, 255, 255, 1);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid red;

    background-color: transparent;

    outline: none;

    /* text */
    color: black;
    font-size: 1em;

    cursor: pointer;

}

button {
    margin-top: 16px;
    background-color: var(--cor-master);
    border: none;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: black ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.teste {
    border: none;
}