header {
    width: 100%;
    height: 100%;
    position: relative;
}

/* menu link*/
.menu-link {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link > ul {
    display: flex;
    align-items: center;
}

.menu-link > ul > li > a {
    font-family: var(--font-titulo);
    text-transform: uppercase;
    padding: .5rem .5rem;
    margin-left: .5rem;
    color: var(--cor-primaria);
    
}

.botao-contato {
    width: 110px;
    height: 32px;
    background-color: var(--cor-botao-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-left: .5rem;
    
}

.botao-teams {
    font-family: var(--font-titulo);
    color: var(--cor-natural);
    width: 170px;
    height: 33px;
    background-color: var(--cor-botao-secundario);
    border-radius: .3125rem; /*5px*/
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/*menu principal*/
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--cor-natural);
    z-index: 999999;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.menu-principal {
    width: 100%;
    height: 144x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
   
}

.menu-principal > img {
    padding: .5rem;
}

.menu-principal > ul {
    display: flex;
}

.menu-principal > ul > li > a {
    font-family: var(--font-titulo);
    color: var(--cor-primaria);
    text-transform: uppercase;
    margin-left: 1rem;
    padding: .5rem;
}

/*banner-principal*/
.banner-principal {
    width: 100%;
    height: calc(100vh - 144px - 80px);
    background-image: url(../img/img-banner-principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  HAMBURGUER CONFIG  */


/* Menu Mobile */

#hamburguer {
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: black;
   
    border-radius: 16px;
    transition: 0.3s ease;
    margin-top: 2px;
}

.float, #menu-bar{
	top: 61px;
    left: 0;
	position: absolute;    
}
.float{
	z-index: 1;
	width: 0;
	height: 100%;
    background-color: #f8f8f8e8;
	border-radius: 0 0 10px 10px;
	transition: 0.3s ease;
    transform: translate(-28px, 0px);
    z-index: 9999;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

#menu-bar{
	z-index:2;
}

.menu-mobile {
    position: absolute;
    display: block;
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;

}

.menu-mobile > a > li {
    margin: 0 0 .5rem 0;
    font-family: var(--font-titulo);
    color: var(--cor-primaria);
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
}

.menu-mobile > a li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 10px;
}

.menu-mobile2 {
    opacity: 1;
    
}

/* Class Variação Mobile */

.float-open {
	width: 100%;
	height: 405px;
	transform: translate(0%, 0%);
    
}
.variation .bar {
	background-color: var(--cor-primaria);
}
.variation #bar1 {
	transform: translateY(5.5px) rotateZ(-45deg);
}
.variation #bar3 {
	transform: translateY(-8px) rotate(45deg);
}
.variation #bar2 {
	opacity: 0;
}

#bar1{
	transform: translateY(-2px);
}
#bar3{
	transform: translateY(2px);
}
