#informativo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    margin-top: 1rem;
}

.container-imagem-educao-basica {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
 }

.container-texto-educao-basica {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
}

.container-texto-educao-basica > h3, .container-texto-tecnico > h3, .container-texto-graduacao > h3 , .container-texto-pos-graduacao > h3{
    margin-top: 1rem;
    text-align: left;
}

.container-texto-educao-basica > p, .container-texto-tecnico > p, .container-texto-graduacao > p, .container-texto-pos-graduacao > p{
    text-align: justify;
}

.container-texto-educao-basica > .botao, .container-texto-tecnico > .botao, .container-texto-graduacao > .botao, .container-texto-pos-graduacao > .botao {
    float: right;
    margin-top: 1rem;
}

.container-imagem-tecnico {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;

 }

 .container-texto-tecnico {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
 }

.container-texto-graduacao {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
}

.container-imagem-graduacao {

    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
}







.container-texto-pos-graduacao {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
}

.container-imagem-pos-graduacao {

    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: right;
}
