

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
      /*cores*/
      --cor-master: #FFF300;
      --cor-primaria:#1A1A1A;
      --cor-botao-principal: #FFF1AE;
      --cor-botao-secundario: #4741E8;
      --cor-natural: #ffffff;
  
      /*fontes*/
      --font-paragrafo: 'Open Sans', sans-serif;
      --font-titulo: 'Roboto', sans-serif;
  
      /*tamanhos*/
      --size-paragrafo-desktop: 1rem; /*16px*/
      --size-titulo-desktop: 1.375rem; /*22px*/ 
      --size-botao-principal-desktop: .6rem;  /*9.6px*/
  
      --size-reducao-mobile: .25rem; /*2px*/
  
      --size-paragrafo-mobile: calc(var(--size-paragrafo-desktop) - var(--size-reducao-mobile)); /*14px*/
      --size-titulo-mobile: calc(var(--size-titulo-desktop) - var(--size-reducao-mobile)) /*20px*/
}

body {
    width: 100%;
    height: 100%;
}

h1 {
    font-family: var(--font-titulo);
    font-size: var(--size-titulo-desktop); 
    text-transform: uppercase;
    margin: 3rem 0 1rem 0;
}

h3 {
    font-family: var(--font-titulo);
    font-size: var(--size-paragrafo-desktop);
    text-transform: uppercase;
}

p {
    font-family: var(--font-paragrafo);
    font-size: var(--size-paragrafo-desktop);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.botao {
    display: flex;
    background-color: var(--cor-botao-principal);
    width: 64px;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    color: var(--cor-primaria);
    text-transform: uppercase;
    font-family: var(--font-titulo);
    font-size: var(--size-botao-principal-desktop);
    letter-spacing: 1px;

    align-items: center;
    justify-content: center;

    transition: .6 ease-in;
    cursor: pointer;
    
}

.botao:hover {
    background-color: var(--cor-master);
}

main {
    max-width: 1365px;
    height: 100%;
    margin: 0 auto;
}

.container, .container-nav, .container-footer, .container-copyright {
    width: 100%;
    height: 100%;
    max-width: 1365px;
    margin: 0 auto;    
}

/*bolsa estudos*/

#bolsaEstudo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.caixa-bolsa {
    width: 150px;
    height: 85px;
    background-color: var(--cor-natural);
    align-items: center;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: .5rem;
 
}

/*construcao*/
#institucional {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-construcao {

}

.container-construcao > img {
    width: 350px;
}

.corpo {
    background-color: #2929ff;
}

header, .cabeca {
    background-color: var(--cor-natural);
}
.container-construcao > h3{
    color: var(--cor-natural);
    margin-bottom: 1rem;
    margin-top: -3rem;
}

.container-construcao > h1 {
    color: var(--cor-natural);
}

.link-construcao {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: 0 auto;
}

.link-construcao > li > a {
    text-decoration: none;
    color: var(--cor-primaria);
    font-family: var(--font-paragrafo);
    font-size: var(--size-paragrafo-desktop);
    background-color: var(--cor-master);
    border-radius: 10px;
    padding: .5rem 1rem;
}

.link-construcao > li > a:hover {
    background-color: var(--cor-primaria);
    color: var(--cor-master);
}

/*contato*/
#contato {
    width: 100%;
    height: 100%;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 2rem;
}

.img-contato {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
}

.img-contato > img {
    width: 100%;
    height: 350px;
}

.formulario-contato {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    color: var(--cor-primaria);
}

form {
    background: rgba(255, 255, 255, 1);

    width: 100%;
    max-width: 500px;

    margin: 32px auto;
    padding: 32px 64px;

    display: flex;
    flex-direction: column;
}

form h2 {
    margin-bottom: 32px;
}

div.input {
    margin-bottom: 24px;
    position: relative;
}

input,
button {
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    padding: 16px 0;

    border:none;
    border-bottom: 1px solid red;

    background-color: transparent;

    outline: none;

    /* text */
    color: black;
    font-size: 1em;

    cursor: pointer;

}

button {
    margin-top: 16px;
    background-color: var(--cor-master);
    border: none;
}

input ~ label {
    position: absolute;
    top: 16px;
    left: 0;

    color: black ;

    transition: .4s;
}

input:focus ~ label,
input:valid ~ label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}


.input span.error {
    display: flex;
    
    padding: 0;

    background-color: rgba(255, 0, 0, 0.2);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.frm-box {
    border: none;
}

.inform2 > ul {
    padding-top: 1rem;
    display: flex;
    margin: 0 auto;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}

.inform > h3 {
    margin-top: 1rem;
}

/*cursos populares*/
#cursosPopulares {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.container-cursos-populares {
    width: 259px;
    height: 314px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    margin: 1rem .5rem;
    border-radius: 10px;
}

.container-cursos-populares > h3{
    height: 38px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.container-cursos-populares > img {
    height: 130px;
    width: 260px;
    border-radius: 10px 10px 0 0;
}

.container-conteudo-curso-popular {
    width: 100%;
    height: 135px;
    display: grid;
    grid-template-columns: 50px 4fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    border-radius: 10px;
}

.icone-grade {
    width: 40px;
}

.icone-grade > a > img { 
    float: right;
}

.txt-grade > a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--size-paragrafo-mobile);
    font-family: var(--font-paragrafo);
    color: var(--cor-primaria);
    width: 100%;
    display: inline-block;
}

.icone-grade-1 > a > img{
    grid-column: 1/2;
    grid-row: 1/2;
}

.txt-grade-1 > a{
    grid-column: 2/3;
    grid-row: 1/2;
}

.icone-grade-2 > a > img{
    grid-column: 1/2;
    grid-row: 2/3;
}

.txt-grade-2 > a{
    grid-column: 2/3;
    grid-row: 2/3;
}

.icone-grade-3 > a > img{
    grid-column: 1/2;
    grid-row: 3/4;
}

.txt-grade-3 > a{
    grid-column: 2/3;
    grid-row: 3/4;
}

.container-conteudo-curso-popular > .botao {
    grid-column: 1/3;
    grid-row: 4/5;
    margin: 0 auto;
}

/*footer*/
footer {
    width: 100%;
    height: 100%;
    background-color: var(--cor-master);
    padding: 1rem;
    color: var(--cor-primaria);
    margin-top: 3rem;
}

h3{
    margin-top: .5rem;
}

p {
    padding-top: .3rem;
}

.container-contato, .container-menu-rodape, .container-horarios, .container-horarios, .container-localizacao, .container-cursos, .container-copyright{
    height: 100%;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    max-width: 300px;
}

.container-footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
}

.container-contato {
    grid-column: 1/2;
}

.container-menu-rodape {
    grid-column: 2/3;
}

.container-menu-rodape a, .container-cursos a {
    font-family: var(--font-paragrafo);
    color: var(--color-primaria);
    padding: 0 .3rem;
}

.container-horarios {
    grid-column: 3/4;
    text-transform:capitalize;
}

.container-localizacao {
    grid-column: 4/5;
    text-transform:capitalize;
}
.container-localizacao > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.container-localizacao > ul > li > a > img {
    margin-top: 1rem;
}

.container-cursos {
    grid-column: 5/6;
    position: relative;
}

.container-cursos > ul > li, .container-menu-rodape > ul > li {
    margin-top: .6rem;
}

.container-btn-topo {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-btn-topo > .btn-topo{
    padding: .2rem ;
}

.container-copyright {
    grid-column: 2/5;
    grid-row: 2/3;
}

.container-copyright > img {
    width: 200px;
}

.container-copyright > p {
    font-size: var(--size-paragrafo-mobile);
}

/*header*/
header {
    width: 100%;
    height: 100%;
    position: relative;
}

/* menu link*/
.menu-link {
    width: 100%;
    height: 80px;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-link > ul {
    display: flex;
    align-items: center;
}

.menu-link > ul > li > a {
    font-family: var(--font-titulo);
    text-transform: uppercase;
    padding: .5rem .5rem;
    margin-left: .5rem;
    color: var(--cor-primaria);
    
}

.botao-contato {
    width: 110px;
    height: 32px;
    background-color: var(--cor-botao-principal);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    margin-left: .5rem;
    
}

.botao-teams {
    font-family: var(--font-titulo);
    color: var(--cor-natural);
    width: 170px;
    height: 33px;
    background-color: var(--cor-botao-secundario);
    border-radius: .3125rem; /*5px*/
    justify-content: center;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

/*menu principal*/
nav {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--cor-natural);
    z-index: 999999;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

.menu-principal {
    width: 100%;
    height: 144x;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
   
}

.menu-principal > img {
    padding: .5rem;
}

.menu-principal > ul {
    display: flex;
}

.menu-principal > ul > li > a {
    font-family: var(--font-titulo);
    color: var(--cor-primaria);
    text-transform: uppercase;
    margin-left: 1rem;
    padding: .5rem;
}

/*banner-principal*/
.banner-principal {
    width: 100%;
    height: calc(100vh - 144px - 80px);
    background-image: url(../img/img-banner-principal.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*  HAMBURGUER CONFIG  */


/* Menu Mobile */

#hamburguer {
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: black;
   
    border-radius: 16px;
    transition: 0.3s ease;
    margin-top: 2px;
}

.float, #menu-bar{
	top: 61px;
    left: 0;
	position: absolute;    
}
.float{
	z-index: 1;
	width: 0;
	height: 100%;
    background-color: #f8f8f8e8;
	border-radius: 0 0 10px 10px;
	transition: 0.3s ease;
    transform: translate(-28px, 0px);
    z-index: 9999;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
}

#menu-bar{
	z-index:2;
}

.menu-mobile {
    position: absolute;
    display: block;
    flex-direction: column;
    top: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;

}

.menu-mobile > a > li {
    margin: 0 0 .5rem 0;
    font-family: var(--font-titulo);
    color: var(--cor-primaria);
    text-transform: uppercase;
    padding: 1rem 0;
    text-align: center;
}

.menu-mobile > a li:hover {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0 0 10px 10px;
}

.menu-mobile2 {
    opacity: 1;
    
}

/* Class Variação Mobile */

.float-open {
	width: 100%;
	height: 405px;
	transform: translate(0%, 0%);
    
}
.variation .bar {
	background-color: var(--cor-primaria);
}
.variation #bar1 {
	transform: translateY(5.5px) rotateZ(-45deg);
}
.variation #bar3 {
	transform: translateY(-8px) rotate(45deg);
}
.variation #bar2 {
	opacity: 0;
}

#bar1{
	transform: translateY(-2px);
}
#bar3{
	transform: translateY(2px);
}

/*informativo*/
#informativo {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    padding: 1rem;
    margin-top: 1rem;
}

.container-imagem-educao-basica {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: left;
 }

.container-texto-educao-basica {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 1/3;
}

.container-texto-educao-basica > h3, .container-texto-tecnico > h3, .container-texto-graduacao > h3 , .container-texto-pos-graduacao > h3{
    margin-top: 1rem;
    text-align: left;
}

.container-texto-educao-basica > p, .container-texto-tecnico > p, .container-texto-graduacao > p, .container-texto-pos-graduacao > p{
    text-align: justify;
}

.container-texto-educao-basica > .botao, .container-texto-tecnico > .botao, .container-texto-graduacao > .botao, .container-texto-pos-graduacao > .botao {
    float: right;
    margin-top: 1rem;
}

.container-imagem-tecnico {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: right;

 }

 .container-texto-tecnico {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
 }

.container-texto-graduacao {
    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 3/4;
}

.container-imagem-graduacao {

    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: left;
}







.container-texto-pos-graduacao {
    width: 100%;
    height: 100%;
    grid-column: 1/2;
    grid-row: 4/5;
}

.container-imagem-pos-graduacao {

    width: 100%;
    height: 100%;
    grid-column: 2/3;
    grid-row: 4/5;
    text-align: right;
}

/*noticias*/
#noticias {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    flex-wrap: wrap;
    max-height: 550px;
    width: 100%;
  }
  
  .container-artigo {
    width: 430px;
    height: 170px;
    box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2);
    margin: .5rem;
    border-radius: 10px 10px 10px 10px;
  
  }
  
  
  .hero {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 10px 10px 10px 10px;
  }
  
  .img {
    width: 35%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
  }
  
  .img-art1{
    background-image: url(../img/foto-setembro-amarelo.png);
  }
  
  .img-art2{
    background-image: url(../img/foto-outubro-rosa.png);
  }
  
  .img-art3{
    background-image: url(../img/foto-enem-2022.png);
  }
  
  
  
  .conteudo {
    width: 65%;
    height: 100%;
    padding: 0 .5rem;
    border-radius: 10px 10px 10px 10px;
  }
  
  p, h3, h1{
    text-align: center;
    color: var(--cor-primaria);
  }
  
  .conteudo > .botao {
    float: right;
    margin-top: .3rem;
    margin-right: .5rem;
  }

  /*mobile*/

  @media (max-width: 1100px){
    .menu-principal > ul > li > a, .menu-link, .menu-principal > .logoDesktop {
        display: none;
    }

    #menu-desktop  {
        display: none;
    }

    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container-btn-topo {
        display: none;
    }

    .container-copyright > img {
        width: 150px;
    }

    .container-contato > p, .container-localizacao > p, .container-menu-rodape >  ul > li, .container-horarios > p, .container-cursos > ul > li, .container-copyright > p{
        font-size: var(--size-paragrafo-mobile);
    }

    .container-contato > h3, .container-localizacao > h3, .container-menu-rodape > h3, .container-horarios > h3, .container-cursos > h3, .container-copyright > h3{
        font-size: var(--size-paragrafo-mobile);
    }

    .container-localizacao > ul > li > a > img {
        width: 2rem;
    }

}

@media (min-width: 1100px) {
    .hamburguer, .linha, .logoMobile {
        display: none;
    }
    .botao-mobile {
        visibility: hidden;
    }
    #hamburguer, #float {
        display: none;
    }
}

@media (max-width: 450px) {
    .container-texto-educao-basica > h3, .container-texto-tecnico > h3, .container-texto-graduacao > h3, .container-texto-pos-graduacao > h3  {
        text-align: center;
        margin-top: 1rem;
        font-size: var(--size-titulo-mobile);
    }

    .container-imagem-educao-basica > img, .container-imagem-tecnico > img, .container-imagem-graduacao > img, .container-imagem-pos-graduacao > img {
        width: 320px;
        margin-top: 1rem;
    }

    .container-texto-educao-basica > p, .container-texto-tecnico > p, .container-texto-graduacao > p, .container-texto-pos-graduacao > p {
        width: 100%;
        padding: 0 .8rem;
        margin-top: 1rem;
        font-size: var(--size-paragrafo-mobile);

    }

    #informativo {
        padding: 0;
    }

    .container-texto-educao-basica > .botao, .container-texto-tecnico > .botao, .container-texto-graduacao > .botao, .container-texto-pos-graduacao > .botao {
        margin-right: .8rem;
    }

    .botao {
        margin-bottom: 1rem;
    }


}



@media (max-width: 1360px){
    #noticias {
        width: 60%;
        display: flex;
        margin: 0 auto;
        margin-top: 1rem;
    }
}

@media (max-width: 1150px) {
    #cursosPopulares{
        display: flex;
        width: 60%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}



@media (max-width: 988px) {
    #informativo {
        display: flex;
        flex-wrap: wrap;
    }

    #cursosPopulares {
        width: 85%;
        display: flex;
    }
    
    .container-imagem-educao-basica, .container-imagem-tecnico, .container-imagem-graduacao, .container-imagem-pos-graducao  {
        text-align: center;
    }

    #contato {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
@media (max-width: 750px)
{
    #noticias {
        max-width: 100%;
        width: 100%;
    }
    
    main {
        width: 100%;
    }

    #cursosPopulares {
        width: 100%;
        display: flex;
    }
}

.desconto {
    width: 100%;
    height: 50px;
    background-color: var(--cor-botao-secundario);
    display: flex;
    align-items: center;
    justify-content: center;
}

.desconto > h3 {
    color: var(--cor-natural);
}